{
	"greeting": {
		"default": {
			"default": [
				"Sup?",
				"Hello.",
				"Hai-ya.",
				"Hey there...",
				"How's it going?",
				"Hey, what's up?",
				"Oh hey, how's it going?",
				"Nya-hai.",
				"Thanks for dropping by!",
				"Oh hey, buddy.",
				"Heyoo.",
				"What's up?",
				"Hey.",
				"Alright?",
				"Oh hey!",
				"You alright?",
				"You good?",
				"Alright mate?",
				"Whats up?",
				"Hellooo.",
				"you need something?.",
				"How're things?",
				"Any thing new?",
				"Hey, what's happening?"
			]
		}
	},

	"converse": {
		"default": {
			"default": [
				"What can i do for you?",
				"Wait a minute... Something weird is going on here... ",
				"i have no memory of this place... What did you do?",
				"i hope your not pulling my tail... it doesn't hurt but I KNOW how to Use Iron Tail...",
				"yeah ok... i'll behave for now... *grumbles* really gotta remove my self from the tenants list...",
				"Yes... Yes this is Dilrax.",
				"what you dont like a bit of humor? well your no fun... :P *pfffffbt...*",
				"so where are you from?... EARTH!? REALLY... WHERE!... HOLY Scrapmetal you were right there! when it happen!",
				"me? Yeah im From Earth, was Hold up in a Holding Cell, Im real, Im Living not some stupid science project to be prodded...",
				"i was also there on earth when it happened, i just managed to escape that cell before the building was torn apart.",
				"dont worry, it was purely mistake identity, 'new species, never seen before'... unless your genetically modified that is...",
				"enough about me, there must be something else, you look slightly bored...",
				"i can say anything i like... well... as long as its written in my destiny...",
				"If we ever rebuild Earth, i'll be the one designing the Orbital Ion Cannon Relays.",
				"what... Orbital Ion Relays are not over kill... but a Planetary Star Destroyer is, Stupid Empire... waste of good tech.",
				"i knew a potter once, he was real good at making pots unlike that chap with the hat and stick.",
				"you mind if i take a look at your spaceship?.",
				"who do you think is tougher? the USCM or the Kluex?",
				"so uhh... you like cold planets? no? Good nether do I.",
				"You'd be a big help back at the Lab, i cant Stand the Cold out side!.",
				"Which species is your favourite? Mine is the Avali And it has Nothing to do With Reni.",
				"you... Havant seen Reni anywhere have you?... hes uhh... Hiding again... i think...",
				"I'v got a bet with Reni that the USMC got wiped a while back. Can you confirm it?",
				"i swear most Avali are highly relatable to cats... i know two who are a bit Catish...",
				"One day... I'll Design a spaceship better then yours, Until then... RenTek all the way.",
				"wait a second... i already have an awesome spaceship... eh... never mind.",
				"Did you want to check out my lab some time? Im sure you would like it.",
				"An Apex punched me some time ago and broke his hand, i laughed, it was hilarious...",
				"please don't punch me like the last guy... i would hate to see you break your hand too.",
				"The Glitch have a funny way of talking, it amuses me.",
				"The avians are a bit funny looking?, but not as much as hylotl...",
				"What? im not Laughing behind your back or anything its Just Theres Nothing Funnier then Terrestrial Life.",
				"I could really fancy a roast dinner but i need to rebuild my flamethrower again...",
				"Sometimes it's fun to just yell at monsters... while murdering them with a Ripper, Sorry.",
				"You found any cool weapons lately?, i need some inspiration is all...",
				"We could team up... i make the gear and you go try it out, Best Team Work Ever!",
				"here's an Idea... i'll design and build Equipment for you to play with and you come back tell me about it when it explodes, ok?",
				"meat... i need fresh meat... every-thing's frozen back home... Reni Cleaned out my Supply again.",
				"psst... want to try out a New Experimental Weapon? no? oh ok then.",
				"Did you know i saw Big Ape once and god Ddaaaammmmmmmm.... it wasn't fun.",
				"i mean that guy is... well i dont know, hes a jerk, classy fellow but a jerk.",
				"I'm jealous of you, being an adventurer but your Jealous of our Equipment so its fair.",
				"The Miniknog are not so scary, Just use our weapons, Easy solved.",
				"You should just ask me to help you out with the Miniknog, if you ever meet one of course",
				"If you ever need help, just ask, RenTek at your Service.",
				"yes im Bionically augmented, no im not completely water proof, but i am Fire proof.",
				"You reek of wet dog!, how do i know? I AM A DOG!, Dun dun Daaaa",
				"Ewww you reek, bad... *coughs* what have you been in!?",
				"i smell like metal and oil and maybe like wet dog but you smell of... many planets and a rusty ship.",
				"you don't happen to have picked up any flee's anywhere have you? they will hitch hike for miles.",
				"space flee's are the worst... they have organised Ninja Strike Squads... believe me its all true...",
				"you better not have any flee's on you... i'll be scratching for weeks... grrrrr",
				"The universe is a big, scary place, if you don't buy from me.",
				"Talking apes, talking birds, talking plants, what next? oh wait... ME!",
				"you notice how i seem to comment on random things then say something like this? well stop thinking about it.",
				"no seriously what ever your thinking about... stop... dont think about it...",
				"do you know of a human named Roman? he likes to go bowling... apparently",
				"while i was imprisoned i saw others of my kind, well generically modified things that is, i hoped they escaped, probably not though...",
				"sooo... found any abandoned labs anywhere? im short a few supply's if you catch my drift.",
				"what i like looting abandoned labs... they have the most interesting and useless data... always a amusing thing to read.",
				"psst, hey... Take me with you, no? awww...",
				"The Avian power crystals are really fascinating, there like... empowered Diamonds, though pretty useless as raw materials...",
				"I don't quite like hanging around Apex, flea's y'know.",
				"We could be heroes, if I wasn't stuck in my lab all day, oh wait nevermind.",
				"one day i will listen to an avian sing in there language, just so i can get this translator working.",
				"One day I'll introduce you to Reni, or have you already met him?.",
				"I love the idea of spaceplant people... only its the hole stabbing thing that's a little unsettling",
				"Did you know floran's are probably the cause behind Vegetarian Murders... Hey dont look at me like that, s'not my fault if its Ironic...",
				"i gont get along with floran's too well... except for that we both like meat... the barbecues are nice but their not the party type.",
				"I've always wanted to hang out with a robot, that i didn't build or tried to kill me",
				"is it possible to make an AI out of some of the Glitch?... huh? oh nothing, just thinking out loud.",
				"I bet you'd make a great DJ if you tried, Reni would Love that..",
				"I want armour like yours... so i can add it to my armour stand collection...",
				"I would like to... no... Never mind i could just build it",
				"so uhh... you ok there? im detecting some uhh... easter egg type stuff... what no not the chocolate kind, that stuff makes me sick... badly",
				"nope just randomly speaking my mind...",
				"Quit Nagging me All ready!",
				"A Glitch invasion would be the coolest thing, i could just imagine all the parts and scrap",
				"do you know What metals the Glitch are made from?, just curious",
				"The Glitch quite small for killer robots, i could probably fix that! probably better not to though knowing my luck...",
				"I could probably make some awesome weapons to upgrade the Glitch with.",
				"Can the Glitch transform their arms into guns? no? are you sure? well that sucks...",
				"I wonder if i can turn a Glitch into a vehicle?... Glitch!, Roll Out!... no?",
				"Iv never met a Novakid before... are they just Pure living energy?",
				"I wonder if Novakid's glow all the time, or is it like a switch they can turn on and off?",
				"I wonder if i can consider a novakid more of a radiated energy mass or a celestial cluster?, i'll have to look into that i think",
				"A While ago i thought i saw a walking Neon sigh... i think it was a Novakid actually... weird",
				"...? Oh were you expecting me to say something interesting? Ha! Never!... shoot I just did didn't it? *heavy sigh*",
				"ok ok... fine... have your moment of... bliss, im running out of random things to say anyway...",
				"you know how hard it is to keep you entertained? ...no? ... well im out of ideas so you can stop now...",
				"''Use Key'' me One more time... i dare you...",
				"I spent yesterday outside, the fresh air does me good.",
				"Tomorrow is a new day. Mind you, so was yesterday at some point, and that was not so great.",
				"You're in the Protectorate? right?",
				"You're one of those troublemaker type kinda people yeah?, I can tell. Not that I'm complaining, but i can smell everything you have from here.",
				"Want my advice? Never approach an apex with a banana in hand, they'l go banana's for it.",
				"Penguins? They look cute, but you're a fool if you underestimate them... they just smile and wave to cover there devious plots.",
				"There are so many other planets out there. The universe is a big place.",
				"I've heard tales of your kind... not much but enough.",
				"How strong are you? You need great strength to survive out there.",
				"You don't talk so much, do you?... yeah i figured as much",
				"well if it isnt my favourite silent buddy...",
				"whats wrong? cat got your tongue?",
				"If you need someone to talk to, i'v always got an ear out for anyone who needs someone to talk to.",
				"Have you checked out this Website called the Chuckelfish forums? ah what am i saying, Of course you have!... maybe? :|",
				"You know, I Know, You Know that I know about You Knowing this is just Scripted Text... ",
				"You know the best thing about Being an NPC and having Scripted Text?... Hidden Jokes!, yes... This is one.",
				"Ye-ye-ye-ye-yeh Ye-ye-yeh Ye-ye-yeh Ohohohohoh, Ye-ye-ye-ye-yeh Ye-ye-yeh Ye-ye-yeh Ohohohohooooooooooo Aaaaoooooh aaaooo Hooo haha.",
				"Someone else might be pulling the strings, but the mastermind behind the Avali will always be RyuujinZERO.",
				"Dilrax.exe; Processing Initialization Failed, Please Save all Data Before Rebooting the System's Application Operation, Thank you.",
				"yeah iv had some help by awesome people, then there's the other awesome people like you.",
				"have you met my good Buddy ^blue;Zancuno^white;?",
				"you uhh... Havant seen ^blue;Dark_Technician^white;s work by chance have you?, he re-tweaked the weapons...",
				"there's a familiar Avali by the name of ^blue;Marxon^white; who's usually a common sight around my lab...",
				"Looking good, friend. I like your style.",
				"There are so many other planets out there. The universe is a big place.",
				"I can only dream of the things you have seen.",
				"My favourite time of the day is lunchtime... truth be told i have no concept of time apart from day and night...",
				"I've got friends here. I'm happy.",
				"What was it I had to do today? I can't remember at all.",
				"So much time, so little to do.",
				"I need to sneeze, but it will not happen.",
				"Tell me of your travels.",
				"Do you have a rocket launcher for me to borrow? I have a plan.",
				"I bet you have great campfire stories.",
				"Excuse me if I remain suspicious of you until we are better friends.",
				"The pressures of the world look as though they are getting to you.",
				"Watch out, step away - today I am clumsy.",
				"So, have you planned your next big adventure?",
				"Relax, stay awhile, unwind. You look tired from all this adventuring.",
				"There must be a lot of treasure out there for someone who travels the stars.",
				"Heard any good jokes lately? A little laughter never hurt anyone.",
				"I'll bet you make short work of monsters my friend.",
				"You must be a skilled navigator to fly that spacecraft of yours... it kinda looks like a standard hunker-junk tin can but you seem to get by just fine",
				"It is bad news for everybody, what happened to Earth.",
				"HEY! Stop patting me... i dont like getting patted... unless you wanna scratch my ear?, i can hardly say no to that...",
				"You do not have long-range audio recording software, do you?",
				"It's hard to compare the beauty of nature with the beauty of the crafted object.",
				"I'm so grateful that the dangers of the universe are balanced by its wonders and beauty... its easier to kill things this way",
				"Please be careful not to break anything...",
				"today is one of those days huh?... yeah i thought so...",
				"so when darkness gathers will you beable to defend your light?",
				"No, Little Light...",
				"Diplomacy is impossible when your enemies turn a Stubborn... Big Guns make a difference though...",
				"Punching... the Most Useful language when Words Fail...",
				"What's it like being a Protector?",
				"Give me a second, I'm playing Zombie Flux Though my UI Augment... Bam, Ungoal Victory, everyone loses :P",
				"There are some funny species out here.",
				"Oh my god, I'm bored. I want to do something fun.",
				"I once planned on joining the Protectorate... but i created RenTek instead... its just as good.",
				"I can't talk right now, I'm super busy. *Is playing a Game in UI Augment*",
				"Can we maybe take a rain check on this conversation? I have stuff to do.",
				"^orange;\"he's a wolf man AND shoots lightning!?\" - Hugo The Giant, Bandit Chief.",
				"^orange;\"with the power of his lightning claw and also his wolf powers and ALSO his human intellect, no an can hope to stand a chance.\" ",
				"^orange;\"He hunts in on the streets of Gothic Ville Seeking Worthy prey but is also no stranger to the dangers of Farlost woods.\" ",
				"^orange;\"Whom ever finds himself in opposide position of this fearsome creature, man, battery thing, will be swiftly dealt with.\" ",
				"^orange;\"by his lightning reflexes and his... lightning i guess? Legend has it that he makes a mean corn salad.\" ^white; - The Pegbarians."
			]
		}
	},
	
	"reattack": {
		"default": {
			"default": [
				"You again!",
				"You returned!",
				"Aha!",
				"You came back?",
				"Round Two! FIGHT!",
				"Back for more, Eh?",
				"It was bound to happen eventually...",
				"So you came back."
			]
		}
	},
	
		"attack": {
			"default": {
				"default": [
					"Attack!",
					"Engaging hostiles!",
					"Hostiles attacking!",
					"Go For Broke!",
					"Enemy engaged!",
					"Have at thee!",
					"To battle!",
					"Prepare to Fall!",
					"I wield the might of the storm!, Lightning Guide me.",
					"I shall strike like lightning!",
					"Feel My Claws!",
					"Its Killing Time!",
					"You're dead meat!...mmmm Meat...",
					"Let's get this over with!",
					"Time to Put you Down!",
					"I'm not a Strong Fighter... Just a Badass Boss",
					"Well you asked for it",
					"I don't go down so easy!",
					"How do I keep ending up in situations like this?",
					"Let's just get this over with...",
					"Be warned, I put up a fight!",
					"Should've stood up when you had the time But you’re out of time.",
					"You’re going down",
					"Get ready to settle the score",
					"And get ready to face the floor",
					"You won't know what hit you!",
					"Your looking for an Ass Kicking Now!"
				]
			}
		},
		
		"killedTarget": {
			"default": {
				"default": [
					"Never mess with me!",
					"Victory Is Mine!",
					"I didn't even break a sweat!",
					"Terminated",
					"too easy...",
					"That's what you get!",
					"Never challenge me!.",
					"You'll never defeat a true Badass.",
					"GG",
					"And Thats Game Over...",
					"Area secure.",
					"Problem solved.",
					"Well that was Suicide...",
					"Neutralised.",
					"Target down!",
					"All done. Dont you Dare throw a Bone at me!!!",
					"What's done is done.",
					"That was exhilarating!",
					"I need to get more exercise.",
					"Well that was fun... for the most part",
					"That was entertaining..."
				]
			}
		},
		
		"lostTarget": {
			"default": {
				"default": [
					"I will get you one day!",
					"It's not over!",
					"Don't come back!",
					"*sniffs the air* Where are you...",
					"*Pffffffbttt* :p",
					"your still around here... i can smell you.",
					"wait... is that it?",
					"aww and i was just having fun...",
					"been so long since i got to hunt something..."
				]
			}
		},
		
			"outOfSight": {
				"default": {
					"default": [
						"Sneaky! This is sneaky! How did you disappear?",
						"They're getting away!",
						"*sniffs the air* Where'd you go?",
						"Get back here!",
						"... WHAAAAaaaaaat!?",
						"I'll just wait here 'til you come back.",
						"What Kind of Sorcery is this!?",
						"GHA-! Witchcraft! Dam them...",
						"Stupid Line of sight!",
						"Look! Over there... he's Right There... Look!... ahh forget it."
					]
				}
			},
			
			"cantReach": {
				"default": {
					"default": [
						"Get over here!",
						"Come here!",
						"Get back here!",
						"HEY! HEY! HEY!... Stop it... Stop.",
						"I Dont like you anymore...",
						"well your no Fun...",
						"Seriously...!?",
						"W-Wh-Why.... T-T"
					]
				}
			},
			
			"cheerOn": {
				"default": {
					"default": [
						"You go that Way... i'll go home...",
						"Follow That guy... yeah that guy way over there...",
						"Everybody is in my way.",
						"Why aren't they already dead?",
						"I See Soon-To-Be-Dead People..."
					]
				}
			},
			
			"beacon": {
				"default": {
					"default": [
						"yes...?",
						"You called?",
						"Is there something you need?",
						"You wanna talk?",
						"Hi! What's up?",
						"You want something?",
						"You need me for something?",
						"Did you need me for a particular reason?",
						"Here I am! What did you want to talk about?",
						"Did you want to chat?",
						"Is this a social call?",
						"Do you have Any idea how much a Dog Whistle Hurts my ears?",
						"Just because im of the canine kind doesnt meant i like being treated so...",
						"What have you called me for?",
						"You need me for something, my friend?",
						"You needed me and I came, what can I do for you?",
						"What is it, my friend?",
						"You wanted to talk to me?",
						"Somethin' on your mind?",
						"What can I do for ya'?",
						"You needin' to talk about something?",
						"What you need to talk about?",
						"You called and I came a-running."
					]
				}
			},
			
			"rent": {
				"default": {
					"default": [
						"Here's something for all your help!",
						"I thought you might like this!",
						"Here's a gift, for all your help.",
						"I got this for you. You can take it, or not. It's up to you.",
						"Here's something for your troubles!",
						"Hey! Here's a present!",
						"Here's a little thank you gift for you.",
						"This is going very well! Here's a gift to say thank you.",
						"Here is a gift, for all your help.",
						"A gift of thanks.",
						"I got you a present for all you've done for me.",
						"I hope you like the gift, you've earned it!",
						"Here is a token of my gratitude.",
						"Here - I brought a gift for your troubles.",
						"You look like you could use a present. Take this.",
						"I bought a gift for you to say thank you, I hope you like it.",
						"I hope you like the gift!",
						"Please accept this gift, for all your help.",
						"This present is for you, to say thank you.",
						"This is a good home. Here is a thank you present.",
						"For all you have done, take this.",
						"Here's a little somethin' for your troubles. Thank you kindly.",
						"Thanks for helping me get by. You've earned this.",
						"Don't know how to thank you properly, but for now take this.",
						"That's for you, to do as you please with.",
						"just so you know... i Suck at Gift Picking...",
						"*awkward Silence*",
						"this... feels rather Awkward... just take the gift, ok."
					]
				}
			}
		}